//====== color area start ======//
$navBtn-color: #55ccff;
$navFont-color: #333333;
$navBtnFont-color: #ffffff;
//====== color area end ======//

@mixin nav-font {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}

/*============below all============*/
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/*============below header============*/
.header {
  height: 80px;
}

/*============below nav============*/
.nav {
  ul {
    align-items: center;
    height: 80px;
  }
  .li_width {
    width: 140px;
    margin-right: 22px;
    text-align: center;
  }
}
.nav-font {
  @include nav-font;
}

/*********** ============below media============ *************/
@media screen and (max-width: 900px) {
  .nav {
    left: 210px;
  }
  .nav-font {
    font-size: 16px;
  }
}
